.comparison-table {
  border: 2px solid #dee2e6;
}


.comparison-table th {
  font-size: 1.1rem;
  padding: 12px;
  background-color: #61360d;
  color: #fff;
}

.comparison-table td {
  padding: 15px;
  vertical-align: top;
}

.comparison-table strong {
  color: #333;
  font-size: 1.05rem;
}
@media (max-width: 768px) {

    .all-table{
        display: none;
    }
}

/* last component */

 .cards-grid {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;
        }

        @media (min-width: 768px) {
          .cards-grid {
            grid-template-columns: repeat(2, 1fr);
          }
        }

        .card-item {
          background: #ffffff;
          padding: 25px;
          border-radius: 10px;
          border-left: 5px solid #8b4513;
          text-align: left;
          color: #000;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .card-item h3 {
          font-size: 1.1rem;
          color: #8b4513;
          margin-bottom: 10px;
        }

        .card-item p {
          font-size: 0.95rem;
          line-height: 1.5;
          margin: 0;
        }